@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html{
    scroll-behavior: smooth;
}
body {
    background:    #080808  ;
    color: #ffffff;
    overflow: hidden;
}

#header {
     width: 100%;
    height: 100vh;

    
}

.logo {
    width: 180px;
}

.container {
    padding: 10px 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fffefe;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-style: bold;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 60px;
    font-style: bold;
    text-align: center;
    color: #ff004f;
}

.header-text h1 {
    font-size: 30px;
    margin-top: 20px;
    font-style: italic;
    color: #fffefe;
    font-family: 'Times New Roman', Times, serif;
}

#header-text h1 span {
    color: #ff004f;
}

#slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: brightness(1.2) contrast(1.2);
}

.slide.active {
    opacity: 1;
}


.login-register-box {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -650px;
    position: relative;
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  
    
  }
  
  
  .box-option {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .login h2, .register h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  
  
  .login button, .register button {
    background-color: #ff004f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 20px;
  }
  .box-option:hover {
    transform: translateY(-5px);
  }
  .box-option p {
    font-size:25px;
    color: #999;
    margin-top: 5px;
  }


/* Existing CSS rules */

/* ... */

/* Add these CSS rules for the copyright section */
.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to right, #b10000, #6a00ff);
    font-weight: 300;
}

/* Adjust the styles for the copyright text */
.footer-container p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}


.copyright i {
    color: #ababab;
}


.copyright p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

